[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/creator-core-solidity"]
	path = lib/creator-core-solidity
	url = https://github.com/manifoldxyz/creator-core-solidity
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/vectorized/solady
[submodule "lib/libraries-solidity"]
	path = lib/libraries-solidity
	url = https://github.com/manifoldxyz/libraries-solidity
